<div class="row">
    <div class="col-8 mx-auto">
       <div class="row">
        <div class="col-8">
            <label for="buscar">Buscar Producto</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-4">
            <br>
            <button class="btn btn-primary">
                Buscar
            </button>
        </div>
       </div>
    </div>
</div>


<div class="grid-div">
    <div class="item" >
        <div class="card">
            <div class="card-header">
                <h2 class="card-text">
                    nuevo cars
                </h2>
            </div>
            <div class="card-body">

            </div>
            <div class="card-footer">
                    <div class="row">
                        <div class="col-9 ">
                            <div class="row ">
                                <div class="col-10 mx-auto ">
                                    <input type="text" class="form-control" 
                            placeholder="Ingrese cantidad" name="" id="" >
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-default">
                                
                                <span [ngClass]="hanilitado ? 'bi bi-plus-circle' : 'bi bi-plus-circle-fill' "></span>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="item" >
        <div class="card">
            <div class="card-header">
                <h2 class="card-text">
                    nuevo cars2
                </h2>
            </div>
        </div>
    </div>

    <div class="item" >
        <div class="card">
            <div class="card-header">
                <h2 class="card-text">
                    nuevo cars2
                </h2>
            </div>
        </div>
    </div>


</div>

