<div class="row">
    <div class="col-8 mx-auto">
       <div class="row">
        <div class="col-8">
            <label for="buscar">Buscar servicio</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-4">
            <br>
            <button class="btn btn-primary">
                Buscar
            </button>
        </div>
       </div>
    </div>
</div>

<div class="grid-div">
    <div class="item" *ngFor="let item of clientes" [routerLink]="[item.url]" >
        {{item.nombre}}
    </div>
</div>